@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--loaderColour);

  width: var(--minWidth);
  height: 100vh;
}

.loading-container {
  border: var(--loaderBorder) solid var(--loaderColour);
  border-radius: 50%;
  border-top: var(--loaderBorder) solid var(--primaryColour);
  width: var(--loaderize);
  height: var(--loaderize);
  animation: spin 1s ease-out infinite;
}
